<!--O home vai abracas os componentes de card-->
<div class="home__container">
    <app-card gameCover="assets/starfield1.png" gameLabel="Digital" gameType="Digital | Steam" gamePrice="R$ 1,99"></app-card>
    <app-card gameCover="assets/no-man-sky.png" gameLabel="Exclusivo" gameType="DISC | PC" gamePrice="R$ 2,99"></app-card>
    <app-card gameCover="assets/no-man-sky.png" gameLabel="Exclusivo" gameType="DISC | PC" gamePrice="R$ 3,99"></app-card>
    <app-card gameCover="assets/no-man-sky.png" gameLabel="Exclusivo" gameType="DISC | PC" gamePrice="R$ 4,99"></app-card>
</div>

