.menu-bar__container{
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 999;
    background-color: white;
    width: 100%;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}

.menu-bar__logo{
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.menu-bar__item{
    display: flex;
    margin: auto;
    align-items: center;
}